language: bash
sudo: required

env:
  global:
    - HELM_VERSION="v2.7.2"

install:
  - curl https://raw.githubusercontent.com/kubernetes/helm/master/scripts/get > get_helm.sh
  - chmod 700 get_helm.sh
  - ./get_helm.sh --version $HELM_VERSION

before_script:
  - ls
  - helm init --client-only
  
script:
  - ./tools/helm_lint.sh
